fastapi==0.94.1
loguru==0.6.0
openai==1.44.1
passlib==1.7.4
peewee==3.16.3
pydantic==1.10.18
python_jose==3.3.0
redis==5.0.8
uvicorn==0.30.6
orjson==3.10.7
pydantic[dotenv]==1.0.1
pymysql==1.1.1
bcrypt==4.2.0